.remote-img{
  max-width: 50%;
  height: auto;
}

.code-sample{
  max-width:25%;
  height:auto;
}

.background-color{
  background-color: #CDDEEE;
}

.logo-size{
  width: 10%;
  height: 75%;
  padding: 10px;
}

.logo-size:hover{
  width: 11%;
  height: 75%;
  padding: 10px;
}

.github-logo{
  width: 9%;
  height: 50%;
  padding: 10px;
}

.github-logo:hover{
  width: 10%;
  height: 50%;
  padding: 10px;
}

.heading-padding{
  padding-top: 20px;
}

.card-size{
  width: 90%;
}
